################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrumpSuitGame/bin
/TrumpSuitGame/obj
/TrumpSuitGame/AppPackages/TrumpSuitGame_3.9.6.0_Test
